In [5]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [7]:
#Load the .csv file
data=pd.read_csv("Entertainment.csv")
data.head()

,Id,Titles,Category,Reviews
0,6973,Toy Story (1995),"Drama, Romance, School, Supernatural",-8.98
1,6778,Jumanji (1995),"Action, Adventure, Drama, Fantasy, Magic, Mili...",8.88
2,9702,Grumpier Old Men (1995),"Action, Comedy, Historical, Parody, Samurai, S...",99.00
3,6769,Waiting to Exhale (1995),"Sci-Fi, Thriller",99.00
4,1123,Father of the Bride Part II (1995),"Action, Comedy, Historical, Parody, Samurai, S...",-0.44

In [9]:
#Step 1: NOrmalize the review scores
#We use minmaxscaler to scale the review between 0 and 1.
scaler=MinMaxScaler()
data['Normalized_reviews']=scaler.fit_transform(data[['Reviews']])

In [ ]:
#Step 2: Compare the cosine similarity

In [ ]:
#Step3:Create a function to recommend titles based on similarity
def get_recommendation(title,cosine_sim=cosine_sim_reviews):
    #Get the index of the title that matches the input title
    idx=data[data['Titles']==title].index[0]
    '''
    data['Titles]==title
    Tgis creates a boolean mask(a series of true and false values)
    indicating which rows in the Titles column match the input title. 
    For example, if the title is "Toy Story (1995)", this comparison results in something Like:
    0 True
    1 False
    2 False
    Name: Titles, dtype: bool
    Why [0] is Needed:
             Even though the title should be unique,'''
    
    #Get the pairwise similarity scores of all titles with that title
    sim_scores=list(enumerate(cosine_sim[idx]))

    #sort the title based on the similarity scores in descending order
    sim_scores=sorted(sim_scores,key=lambda x:x[1],reverse=True)

    #get the indices of the most similar titles
    sim_indices=[i[0] for i in sim_scores[1:6]]
    #Exclude the first as it is the title itself

    #return the top 5 most similar title
    return data['Titles'].iloc[sim_indices]

In [ ]:
# Test the collaborative recommendation system with an example title
example_title = "Toy Story (1995)"

collaborative_recommended_titles = get_collaborative_recommendations (example
# Print the recommendations
print (f"Collaborative Recommendations for '{example_title}':")
for title in collaborative_recommended_titles:
    print(title)