In [5]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [7]:
#Load the .csv file
data=pd.read_csv("Entertainment.csv")
data.head()

,Id,Titles,Category,Reviews
0,6973,Toy Story (1995),"Drama, Romance, School, Supernatural",-8.98
1,6778,Jumanji (1995),"Action, Adventure, Drama, Fantasy, Magic, Mili...",8.88
2,9702,Grumpier Old Men (1995),"Action, Comedy, Historical, Parody, Samurai, S...",99.00
3,6769,Waiting to Exhale (1995),"Sci-Fi, Thriller",99.00
4,1123,Father of the Bride Part II (1995),"Action, Comedy, Historical, Parody, Samurai, S...",-0.44

In [9]:
#Step 1: NOrmalize the review scores
#We use minmaxscaler to scale the review between 0 and 1.
scaler=MinMaxScaler()
data['Normalized_reviews']=scaler.fit_transform(data[['Reviews']])

In [ ]:
#Step 2: Compare the cosine similarity