In [3]:
import pandas as pd 
from sklearn.ensemble import AdaBoostClassifier 
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [7]:
import warnings
warnings.filterwarnings('ignore')

In [9]:
#read csv file 
loan_data=pd.read_csv('income.csv')
loan_data.columns
loan_data.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [11]:
#let us split the data in input and output 
X=loan_data.iloc[:,0:6]
y=loan_data.iloc[:,6]

In [15]:
#Split the data set 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [33]:
#Create adaboost classifier 
ada_model=AdaBoostClassifier(n_estimators=100,learning_rate=1)
#n_estimators for weak learners
#learning_rate,it contributes weights of weak learners by default

In [35]:
#Train the model
model=ada_model.fit(X_train,y_train)

In [37]:
#Predict the results
y_pred=model.predict(X_test)
print("accuracy",metrics.accuracy_score(y_test,y_pred))

accuracy 0.8401064592076978

In [39]:
#let us try fro another base model
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [41]:
#Here base model is changed 
Ada_model=AdaBoostClassifier(n_estimators=50,base_estimator=lr,learning_rate=1)

TypeError: AdaBoostClassifier.__init__() got an unexpected keyword argument 'base_estimator'

In [43]:
model=ada_model.fit(X_train,y_train)

In [45]:
y_pred=model.predict(X_test)

In [47]:
print("accuracy",metrics.accuracy_score(y_test,y_pred))

accuracy 0.8401064592076978