In [1]:
from datetime import datetime

In [3]:
##TO illustrate the order of arguements
my_year=2017
my_month=1
my_day=2
my_hour=13
my_minute=30
my_second=15

In [4]:
#Janaury 2nd ,2017
my_date=datetime(my_year,my_month,my_day)

In [5]:
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [9]:
#Janaury 2nd ,2017 13:30:15
my_date_time=datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [11]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [13]:
#you can grab any part of the datetime object you want 
my_date.day

2

In [15]:
my_date_time.hour

13

In [17]:
##Numpy datetime arrays
import numpy as np

In [19]:
#create an array from three dates
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64')

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [21]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[h]')

array(['2016-03-15T00', '2017-05-24T00', '2018-08-09T00'],
      dtype='datetime64[h]')

In [23]:
np.array(['2016-03-15','2017-05-24','2018-08-09'],dtype='datetime64[Y]')

array(['2016', '2017', '2018'], dtype='datetime64[Y]')

In [25]:
#Numpy data rrange
#an array of date from 6/1/18 to 6/22/18 spaced one week apart
np.arange('2018-06-01','2018-06-23',7,dtype='datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [27]:
#by emitting the step value we can obtain value based on yhe prediction
#an array of dates for every year from 1968 to 1975
np.arange('1968','1975',dtype='datetime64[Y]')

array(['1968', '1969', '1970', '1971', '1972', '1973', '1974'],
      dtype='datetime64[Y]')

In [29]:
#pandas datatime index
import pandas as pd

In [31]:
#the simplest way to build datatime index is with the pd.date_range() method:

In [33]:
#the week of july 8th,2018
idx=pd.date_range('07/08/2018',periods=7,freq='D')
idx

DatetimeIndex(['2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-14'],
              dtype='datetime64[ns]', freq='D')

In [35]:
#Another way to convert incoming text with the pd.to_delete() method
idx=pd.to_datetime(["Jan 01, 2018","1/2/18","03-Jan-2018",None])
idx

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [42]:
##A third way is to pass list or array of datetime objects into the pd.DatetimeIndex() method
some_dates=np.array(["2016-03-15","2017-05-24","2018-08-09"],dtype="datetime64[D]")
some_dates

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [56]:
# Convetrt to an index 
idx=pd.DatetimeIndex(some_dates)
idx

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

In [44]:
##PANDAS DATETIME ANALYSIS
#create some random data
data=np.random.randn(4,2)
cols=["A","B"]
print(data)

[[ 1.06490964  0.662352  ]
 [ 1.1237688   0.42659599]
 [-1.82751504 -0.49035333]
 [ 1.67971306 -0.45527206]]

In [46]:
#creatde a datafreme with our random day=ta , i=our dataindex and our column
df=pd.DataFrame(data,idx,cols)
df

                   A         B
2018-01-01  1.064910  0.662352
2018-01-02  1.123769  0.426596
2018-01-03 -1.827515 -0.490353
NaT         1.679713 -0.455272

In [50]:
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [52]:
#latest data value
df.index.max()

Timestamp('2018-01-03 00:00:00')

In [54]:
#latest data index location
df.index.argmax()

2

In [58]:
#Earliset date value
df.index.min()

Timestamp('2018-01-01 00:00:00')

In [62]:
#earlist data index location
df.index.argmin()

0